/* Global Tags */

* {
  padding: 0px;
  margin: 0px;
}

html,
body {
  height: 100%;
  margin: 0;
  background-color: #d3e0ea;
}
.wrapper {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}
.footer,
.push {
  height: 50px;
}

h1 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  letter-spacing: 1.5rem;
  font-weight: 1000;
}

/* 
footer currently gets stuck after weather forecast forms do not use at this time
footer {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: orangered;
  text-align: center;
  font-family: "Montserrat";
  font-weight: bold;
  color: white;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
} */

/* Class Tags */
.top-header {
  padding: 20px;
  height: 300px;
  background-image: url(https://hosting.photobucket.com/images/kk166/tonyfcpremix/pexels-pixabay-258136.jpg);
}

.banner-wrap {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: orangered;
  text-align: center;
  font-family: "Montserrat";
  font-weight: bold;
  color: white;
}

.card-deck,
.card-body {
  font-family: "Montserrat";
}

.clear-search {
  padding-top: 10px;
}

.mt-1 {
  font-family: "Montserrat";
}
